@model WebUI.Models.BlogModels.CommentModel

<div class="comment well">
    <div class="row">
        <div class="col-lg-2">
            @Model.Author
        </div>
        <div class="col-lg-2">
            @Model.Date
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Model.Body
        </div>
    </div>
</div>