@model BusinessLayer.BusinessModelsDTO.CommentDTO

<div class="comment well">
    <div class="row">
        <div class="col-lg-10">
            Comment from <b class="author">@Model.Author</b>
            <p class="comment-date pull-right">@Model.Date.ToLocalTime()</p>
        </div>
    </div>
    <div class="row comment-body">
        <div class="col-lg-10 well">
            <p>@Model.Body</p>
        </div>
    </div>
</div>