@model WebUI.Models.BlogModels.PostModel

<div class="post-preview">
    <a href="PostInfo/@Model.Id">
        <h2 class="post-title">@Model.Title</h2>
    </a>
    <p class="post-meta">Posteb by <span class="author">@Model.Author</span> on @Model.Date.ToShortDateString()</p>
</div>