@using WebUI.Models.BlogModels;
@using WebUI.HtmlHelpers;
@model PostListViewModel

@{
    ViewBag.Title = "UserPosts";
}

<div class="blog">
    <h2>Your Posts</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @foreach (var post in Model.Posts)
                {
                    @Html.Partial("_PostPreview", post)
                    <hr />
                }
                <div class="btn-group pull-right">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("UserPosts", new { page = x }))
                </div>
            </div>
        </div>
    </div>
</div>
