@{
    ViewBag.Title = "Home Page";
}

<div class="home-page">
    <h1>You are welcome on my Blog!</h1>
    <p>(uncomment DB init values in DataAccess.EFProvider -> EFBlogContext)</p>
    <p>(change full path to photo avatars in WebUI -> Util -> MyConfiguration -> USER_AVATAR_FULL_PATH)</p>
</div>