@{
    ViewBag.Title = "Home Page";
}
<style>
    .home-page 
    {
        margin: auto;
        vertical-align: middle;
        min-height: 550px;
        width: 900px;
        text-align: center;
    }
</style>

<div class="home-page">
    <h1>You are welcome on my Blog!</h1>
</div>