<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DefaultError</title>
</head>
<body>
    <div>
        <h1>
            Error
            <br/>
            An error occurred while processing your request.
        </h1>
    </div>
</body>
</html>
